<a href="https://colab.research.google.com/github/17nekrotciv/Projeto-2-IA/blob/main/Heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arvore de Decisao

In [1]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [4]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('heart.dat', sep=' ',  index_col=0, na_values='?',header=None)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [5]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [6]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'status')
X = dataset.loc[:, dataset.columns != 13] 
y = np.array(dataset.loc[:, dataset.columns == 13]).ravel()

In [7]:
#Define os parametros do metodo de Arvore de Decisao
parameters= {'criterion':['gini'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150], 'random_state': [56]}

In [8]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.26, stratify=y, random_state=56)

In [9]:
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV
# importa a arvore de decisão
from sklearn.tree import DecisionTreeClassifier
# instancia o classificador 
clf = DecisionTreeClassifier()
gs_tree = GridSearchCV(clf,parameters, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_tree.fit(X,y)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20, 30,
                                       40, 50, 70, 90, 120, 150],
                         'random_state': [56]},
             scoring='accuracy')

In [10]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs_tree.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_random_state,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002533,0.000202,0.001433,0.000153,gini,4,56,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.703704,0.740741,...,0.814815,0.851852,0.629630,0.629630,0.740741,0.814815,0.777778,0.744444,0.071146,2
1,0.002448,0.000055,0.001384,0.000121,gini,5,56,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.592593,0.777778,...,0.777778,0.888889,0.592593,0.740741,0.703704,0.777778,0.740741,0.737037,0.085185,3
2,0.002609,0.000166,0.001352,0.000027,gini,6,56,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.703704,0.703704,...,0.777778,0.888889,0.629630,0.666667,0.703704,0.814815,0.740741,0.744444,0.074903,1
3,0.002559,0.000089,0.001357,0.000054,gini,7,56,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.666667,0.740741,...,0.740741,0.777778,0.703704,0.592593,0.666667,0.740741,0.777778,0.714815,0.055060,4
4,0.002628,0.000299,0.001406,0.000162,gini,8,56,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.592593,0.777778,...,0.740741,0.703704,0.666667,0.592593,0.777778,0.703704,0.740741,0.711111,0.071817,5
5,0.002635,0.000166,0.001444,0.000223,gini,9,56,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.629630,0.777778,...,0.740741,0.777778,0.666667,0.629630,0.666667,0.629630,0.740741,0.707407,0.067179,6
6,0.004516,0.002362,0.002195,0.000890,gini,10,56,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.629630,0.777778,...,0.740741,0.777778,0.666667,0.592593,0.666667,0.629630,0.740741,0.703704,0.072198,7
7,0.002729,0.000127,0.001486,0.000116,gini,11,56,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
8,0.002805,0.000186,0.001483,0.000095,gini,12,56,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
9,0.002729,0.000237,0.001445,0.000186,gini,15,56,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
10,0.002685,0.000138,0.001377,0.000039,gini,20,56,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
11,0.002636,0.000033,0.001373,0.000022,gini,30,56,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
12,0.003031,0.000318,0.001623,0.000331,gini,40,56,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
13,0.002886,0.000368,0.001509,0.000282,gini,50,56,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
14,0.002923,0.000490,0.001550,0.000339,gini,70,56,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
15,0.003138,0.000694,0.001550,0.000212,gini,90,56,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
16,0.002773,0.000219,0.001458,0.000111,gini,120,56,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7
17,0.002861,0.000371,0.001481,0.000162,gini,150,56,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.629630,0.777778,...,0.740741,0.814815,0.666667,0.555556,0.666667,0.629630,0.740741,0.703704,0.082817,7

In [11]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
2,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.744444,0.074903,1
0,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.744444,0.071146,2
1,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.737037,0.085185,3
3,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.714815,0.055060,4
4,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.711111,0.071817,5
5,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.707407,0.067179,6
15,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.703704,0.082817,7
14,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.703704,0.082817,7
13,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.703704,0.082817,7
12,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.703704,0.082817,7
11,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.703704,0.082817,7
8,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.703704,0.082817,7
9,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.703704,0.082817,7
16,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.703704,0.082817,7
7,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.703704,0.082817,7
6,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.703704,0.072198,7
10,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.703704,0.082817,7
17,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.703704,0.082817,7

# Multilayer-Perceptron (redes neurais)

In [1]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [12]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('heart.dat', sep=' ',  index_col=0, na_values='?',header=None)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [13]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [14]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'status')
X = dataset.loc[:, dataset.columns != 13] 
y = np.array(dataset.loc[:, dataset.columns == 13]).ravel()

In [15]:
# importa o algoritmo de classificação Multilayer-Perceptron (redes neurais)
from sklearn.neural_network import MLPClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# na MLP um parâmetro a ser testado é a quantidade de neurônios na camada escondida, 
# onde utilzamos uma tupla para representar a camada escondida.
# Por exemplo:
# (5) - Cinco neurônios e uma camada escondida
# (8, 5) - Oito neurônios na primeira camada escondida e cinco neurônios na segunda camada escondida.
# Interessante nesse projeto utilizar no máximo duas camadas para verificação 
# Quanto mais camadas e neurônios maior o tempo de processamento do algoritmo
parameters = {'hidden_layer_sizes' : [(5), (8), (15), (5, 3), (8, 5), (10, 5)],
              'max_iter' : [3000], 'random_state' : [56]}

# define o algoritmo de classificação que será usado
mlp = MLPClassifier()
gs_mlp = GridSearchCV(mlp, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_mlp.fit(X, y)

GridSearchCV(cv=10, estimator=MLPClassifier(),
             param_grid={'hidden_layer_sizes': [5, 8, 15, (5, 3), (8, 5),
                                                (10, 5)],
                         'max_iter': [3000], 'random_state': [56]},
             scoring='accuracy')

In [16]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_mlp.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
2,"{'hidden_layer_sizes': 15, 'max_iter': 3000, '...",0.829630,4.444444e-02,1
3,"{'hidden_layer_sizes': (5, 3), 'max_iter': 300...",0.818519,4.520947e-02,2
5,"{'hidden_layer_sizes': (10, 5), 'max_iter': 30...",0.814815,8.114408e-02,3
4,"{'hidden_layer_sizes': (8, 5), 'max_iter': 300...",0.770370,7.370277e-02,4
1,"{'hidden_layer_sizes': 8, 'max_iter': 3000, 'r...",0.555556,0.000000e+00,5
0,"{'hidden_layer_sizes': 5, 'max_iter': 3000, 'r...",0.444444,5.551115e-17,6

# Naive Bayes

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [17]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('heart.dat', sep=' ',  index_col=0, na_values='?',header=None)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [18]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [19]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna '13')
X = dataset.loc[:, dataset.columns != 13] 
y = np.array(dataset.loc[:, dataset.columns == 13]).ravel()

In [20]:
#Define os parametros do metodo Naive Bayes
param = {'var_smoothing': np.logspace(0,-9, num=100)}

In [21]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split
# importa o algoritmo Naive Bayes 
from sklearn.naive_bayes import GaussianNB
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45, random_state=56)
# instancia o classificador
gnb = GaussianNB()
gs_NB = GridSearchCV(gnb, param, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_NB.fit(X,y)

GridSearchCV(cv=10, estimator=GaussianNB(),
             param_grid={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.84803587e-02, 2.3...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
             scoring='accuracy')

In [22]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_NB.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
49,{'var_smoothing': 3.511191734215127e-05},0.859259,0.049135,1
74,{'var_smoothing': 1.873817422860383e-07},0.859259,0.043192,1
73,{'var_smoothing': 2.310129700083158e-07},0.859259,0.043192,1
72,{'var_smoothing': 2.848035868435799e-07},0.859259,0.043192,1
71,{'var_smoothing': 3.5111917342151277e-07},0.859259,0.043192,1
...,...,...,...,...
3,{'var_smoothing': 0.533669923120631},0.648148,0.074536,96
8,{'var_smoothing': 0.1873817422860384},0.644444,0.081481,97
7,{'var_smoothing': 0.23101297000831597},0.644444,0.072577,97
2,{'var_smoothing': 0.657933224657568},0.644444,0.066667,97
0,{'var_smoothing': 1.0},0.640741,0.052509,100

# K Neighbors

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [23]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('heart.dat', sep=' ',  index_col=0, na_values='?',header=None)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [24]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

       1    2      3      4    5    6      7    8    9    10   11   12  13
0
70.0  1.0  4.0  130.0  322.0  0.0  2.0  109.0  0.0  2.4  2.0  3.0  3.0   2
67.0  0.0  3.0  115.0  564.0  0.0  2.0  160.0  0.0  1.6  2.0  0.0  7.0   1
57.0  1.0  2.0  124.0  261.0  0.0  0.0  141.0  0.0  0.3  1.0  0.0  7.0   2
64.0  1.0  4.0  128.0  263.0  0.0  0.0  105.0  1.0  0.2  2.0  1.0  7.0   1
74.0  0.0  2.0  120.0  269.0  0.0  2.0  121.0  1.0  0.2  1.0  1.0  3.0   1
...   ...  ...    ...    ...  ...  ...    ...  ...  ...  ...  ...  ...  ..
52.0  1.0  3.0  172.0  199.0  1.0  0.0  162.0  0.0  0.5  1.0  0.0  7.0   1
44.0  1.0  2.0  120.0  263.0  0.0  0.0  173.0  0.0  0.0  1.0  0.0  7.0   1
56.0  0.0  2.0  140.0  294.0  0.0  2.0  153.0  0.0  1.3  2.0  0.0  3.0   1
57.0  1.0  4.0  140.0  192.0  0.0  0.0  148.0  0.0  0.4  2.0  0.0  6.0   1
67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2

[270 rows x 13 columns]

In [27]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'status')
X = dataset.loc[:, dataset.columns != 13] 
y = np.array(dataset.loc[:, dataset.columns == 13]).ravel()

In [28]:
# importa o algoritmo de classifcaçaõ k-vizinhos
from sklearn.neighbors import KNeighborsClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# no grid coloca os hiperparâmetros do algoritmo que serão testados (dicionário)
# testará o valor de k com os seguintes valores e o hiperparâmetros weights com os valores 'uniform' e 'distance'
parameters = {'n_neighbors' : [1, 3, 5, 7, 9, 11, 13], 'weights' : ['uniform', 'distance']}

# define o algoritmo de classificação que será usado
knn = KNeighborsClassifier()
''' configura o GridSearch com o algoritmo de classificação = knn (instanciado), os parâmetros testados serão os 
    definidos em parameters, usa cross-validation = 10 e a medida de avaliação é a acurácia.'''  
gs = GridSearchCV(knn, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs.fit(X, y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13],
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [29]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002629,0.000981,0.003142,0.000346,1,uniform,"{'n_neighbors': 1, 'weights': 'uniform'}",0.481481,0.703704,0.666667,0.407407,0.666667,0.592593,0.666667,0.777778,0.592593,0.629630,0.618519,0.102171,13
1,0.002404,0.000441,0.002335,0.000322,1,distance,"{'n_neighbors': 1, 'weights': 'distance'}",0.481481,0.703704,0.666667,0.407407,0.666667,0.592593,0.666667,0.777778,0.592593,0.629630,0.618519,0.102171,13
2,0.002317,0.000307,0.003491,0.000843,3,uniform,"{'n_neighbors': 3, 'weights': 'uniform'}",0.555556,0.740741,0.629630,0.481481,0.703704,0.592593,0.666667,0.629630,0.703704,0.555556,0.625926,0.076712,12
3,0.002658,0.000663,0.002692,0.000495,3,distance,"{'n_neighbors': 3, 'weights': 'distance'}",0.555556,0.740741,0.666667,0.481481,0.740741,0.555556,0.703704,0.629630,0.740741,0.592593,0.640741,0.087724,10
4,0.002159,0.000256,0.002859,0.000118,5,uniform,"{'n_neighbors': 5, 'weights': 'uniform'}",0.629630,0.740741,0.592593,0.629630,0.666667,0.666667,0.666667,0.629630,0.814815,0.555556,0.659259,0.069881,3
5,0.002076,0.000118,0.002219,0.000125,5,distance,"{'n_neighbors': 5, 'weights': 'distance'}",0.629630,0.703704,0.592593,0.592593,0.666667,0.592593,0.629630,0.629630,0.814815,0.555556,0.640741,0.070370,11
6,0.002372,0.000640,0.003047,0.000354,7,uniform,"{'n_neighbors': 7, 'weights': 'uniform'}",0.592593,0.740741,0.592593,0.592593,0.666667,0.629630,0.592593,0.703704,0.777778,0.592593,0.648148,0.066769,7
7,0.002185,0.000134,0.002243,0.000092,7,distance,"{'n_neighbors': 7, 'weights': 'distance'}",0.629630,0.703704,0.592593,0.555556,0.666667,0.592593,0.629630,0.703704,0.814815,0.592593,0.648148,0.072672,7
8,0.002362,0.000489,0.003691,0.001526,9,uniform,"{'n_neighbors': 9, 'weights': 'uniform'}",0.592593,0.703704,0.666667,0.629630,0.703704,0.666667,0.629630,0.740741,0.703704,0.629630,0.666667,0.043823,1
9,0.002362,0.000434,0.002566,0.000507,9,distance,"{'n_neighbors': 9, 'weights': 'distance'}",0.629630,0.666667,0.666667,0.555556,0.703704,0.629630,0.555556,0.740741,0.740741,0.629630,0.651852,0.062416,5
10,0.002319,0.000360,0.003451,0.000998,11,uniform,"{'n_neighbors': 11, 'weights': 'uniform'}",0.518519,0.740741,0.703704,0.666667,0.666667,0.666667,0.629630,0.740741,0.666667,0.629630,0.662963,0.060745,2
11,0.002540,0.000777,0.002514,0.000506,11,distance,"{'n_neighbors': 11, 'weights': 'distance'}",0.518519,0.703704,0.666667,0.666667,0.666667,0.666667,0.555556,0.740741,0.666667,0.666667,0.651852,0.062416,5
12,0.002652,0.000843,0.003821,0.001121,13,uniform,"{'n_neighbors': 13, 'weights': 'uniform'}",0.592593,0.740741,0.703704,0.629630,0.666667,0.703704,0.555556,0.777778,0.703704,0.518519,0.659259,0.079089,3
13,0.004019,0.000998,0.004212,0.001166,13,distance,"{'n_neighbors': 13, 'weights': 'distance'}",0.518519,0.703704,0.703704,0.592593,0.666667,0.666667,0.555556,0.740741,0.666667,0.629630,0.644444,0.066667,9

In [30]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
8,"{'n_neighbors': 9, 'weights': 'uniform'}",0.666667,0.043823,1
10,"{'n_neighbors': 11, 'weights': 'uniform'}",0.662963,0.060745,2
4,"{'n_neighbors': 5, 'weights': 'uniform'}",0.659259,0.069881,3
12,"{'n_neighbors': 13, 'weights': 'uniform'}",0.659259,0.079089,3
9,"{'n_neighbors': 9, 'weights': 'distance'}",0.651852,0.062416,5
11,"{'n_neighbors': 11, 'weights': 'distance'}",0.651852,0.062416,5
6,"{'n_neighbors': 7, 'weights': 'uniform'}",0.648148,0.066769,7
7,"{'n_neighbors': 7, 'weights': 'distance'}",0.648148,0.072672,7
13,"{'n_neighbors': 13, 'weights': 'distance'}",0.644444,0.066667,9
3,"{'n_neighbors': 3, 'weights': 'distance'}",0.640741,0.087724,10
5,"{'n_neighbors': 5, 'weights': 'distance'}",0.640741,0.070370,11
2,"{'n_neighbors': 3, 'weights': 'uniform'}",0.625926,0.076712,12
0,"{'n_neighbors': 1, 'weights': 'uniform'}",0.618519,0.102171,13
1,"{'n_neighbors': 1, 'weights': 'distance'}",0.618519,0.102171,13

# Calculo da Diferenca Absoluta

Observando os resultados, podemos ver que os metodos MLP e Arvore de Decisao tem as melhores performances, logo temos que calcular a diferenca absoluta para ver qual dos dois e de fato o melhor

In [ ]:
#Calculo do desvio padrao
import math
Dp = math.sqrt(((0.121518)*(0.121518) + (0.059363)*(0.059363))/2)
#Calculo da media
media = (0.813421 - 0.815385)
#calcula da Diferenca Absoluta
DA = media/Dp
print(DA)
#MLP >performance Tree

-0.020537265746999902

Conclusao: O MLP tem uma melhor performance do que a Arvore de decisao e o restante dos algoritmos