# Arvore de Decisao

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('hepatitis.data', sep=',', na_values='?',names=['Class','Age','Sex','Steroid','Antivirals','Fatigue','Malaise','Anorexia','Liver Big','Liver Firm','Spleen Palpable','Spiders','Ascites','Varices','Bilirubin','Alk Phosphate','Sgot','Albumin','Protime','Histology'])
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,2,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,2,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2.0,2,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,7.6,NaN,242.0,3.3,50.0,2
151,2,44,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,126.0,142.0,4.3,NaN,2
152,2,61,1,1.0,2,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.8,75.0,20.0,4.1,NaN,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1
10,2,39,1,1.0,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1
11,2,32,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1
12,2,41,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1
13,2,30,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.2,57.0,144.0,4.9,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2,45,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.3,85.0,44.0,4.2,85.0,2
143,1,49,1,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.4,85.0,70.0,3.5,35.0,2
145,2,31,1,1.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,75.0,173.0,4.2,54.0,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 5 to 154
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Class            80 non-null     int64
 1   Age              80 non-null     int64
 2   Sex              80 non-null     int64
 3   Steroid          80 non-null     float64
 4   Antivirals       80 non-null     int64
 5   Fatigue          80 non-null     float64
 6   Malaise          80 non-null     float64
 7   Anorexia         80 non-null     float64
 8   Liver Big        80 non-null     float64
 9   Liver Firm       80 non-null     float64
 10  Spleen Palpable  80 non-null     float64
 11  Spiders          80 non-null     float64
 12  Ascites          80 non-null     float64
 13  Varices          80 non-null     float64
 14  Bilirubin        80 non-null     float64
 15  Alk Phosphate    80 non-null     float64
 16  Sgot             80 non-null     float64
 17  Albumin          80 non-null     float64
 18  Protime          80 non-null     float64
 19  Histology        80 non-null     int64
dtypes: float64(15), int64(5)
memory usage: 13.1 KB

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'Histology')
X = dataset.loc[:, dataset.columns != 'Histology'] 
y = np.array(dataset.loc[:, dataset.columns == 'Histology']).ravel()

In [ ]:
#Define os parametros do metodo de Arvore de Decisao
parameters= {'criterion':['gini'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150,180,220], 'random_state': [56]}

In [ ]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.26, stratify=y, random_state=56)

In [ ]:
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV
# importa a arvore de decisão
from sklearn.tree import DecisionTreeClassifier
# instancia o classificador 
clf = DecisionTreeClassifier()
gs_tree = GridSearchCV(clf,parameters, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_tree.fit(X,y)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20, 30,
                                       40, 50, 70, 90, 120, 150, 180, 220],
                         'random_state': [56]},
             scoring='accuracy')

In [ ]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs_tree.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_random_state,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.003048,0.000796,0.001945,0.000446,gini,4,56,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.75,0.625,...,0.750,0.625,0.500,0.750,0.375,0.625,0.500,0.6250,0.125000,1
1,0.002573,0.000535,0.001645,0.000296,gini,5,56,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.75,0.625,...,0.500,0.625,0.500,0.750,0.375,0.500,0.500,0.5875,0.125623,2
2,0.002442,0.000108,0.001519,0.000030,gini,6,56,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.75,0.625,...,0.500,0.625,0.250,0.625,0.375,0.625,0.625,0.5625,0.139754,3
3,0.002378,0.000027,0.001516,0.000029,gini,7,56,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.75,0.625,...,0.625,0.625,0.250,0.625,0.375,0.500,0.625,0.5625,0.139754,3
4,0.002787,0.000537,0.001851,0.000528,gini,8,56,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.75,0.375,...,0.625,0.500,0.375,0.625,0.375,0.500,0.625,0.5375,0.125623,20
5,0.002392,0.000069,0.001501,0.000028,gini,9,56,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
6,0.003190,0.000750,0.002496,0.001893,gini,10,56,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
7,0.002433,0.000071,0.001562,0.000100,gini,11,56,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
8,0.002405,0.000020,0.001496,0.000016,gini,12,56,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
9,0.002450,0.000047,0.001527,0.000038,gini,15,56,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
10,0.003419,0.001425,0.002056,0.000557,gini,20,56,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
11,0.002754,0.000576,0.001709,0.000396,gini,30,56,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
12,0.002625,0.000394,0.001687,0.000384,gini,40,56,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
13,0.002453,0.000162,0.001507,0.000061,gini,50,56,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
14,0.002370,0.000053,0.001505,0.000032,gini,70,56,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
15,0.002553,0.000337,0.001613,0.000219,gini,90,56,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
16,0.002605,0.000334,0.001743,0.000387,gini,120,56,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
17,0.002506,0.000227,0.001535,0.000045,gini,150,56,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
18,0.002395,0.000077,0.001495,0.000030,gini,180,56,"{'criterion': 'gini', 'max_depth': 180, 'rando...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5
19,0.002548,0.000379,0.001631,0.000241,gini,220,56,"{'criterion': 'gini', 'max_depth': 220, 'rando...",0.75,0.375,...,0.625,0.500,0.500,0.625,0.375,0.500,0.625,0.5500,0.114564,5

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
0,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.6250,0.125000,1
1,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.5875,0.125623,2
2,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.5625,0.139754,3
3,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.5625,0.139754,3
17,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.5500,0.114564,5
16,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.5500,0.114564,5
15,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.5500,0.114564,5
14,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.5500,0.114564,5
13,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.5500,0.114564,5
12,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.5500,0.114564,5
11,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.5500,0.114564,5
9,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.5500,0.114564,5
18,"{'criterion': 'gini', 'max_depth': 180, 'rando...",0.5500,0.114564,5
8,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.5500,0.114564,5
7,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.5500,0.114564,5
6,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.5500,0.114564,5
5,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.5500,0.114564,5
10,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.5500,0.114564,5
19,"{'criterion': 'gini', 'max_depth': 220, 'rando...",0.5500,0.114564,5
4,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.5375,0.125623,20

# Multilayer-Perceptron (redes neurais)

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('hepatitis.data', sep=',', na_values='?',names=['Class','Age','Sex','Steroid','Antivirals','Fatigue','Malaise','Anorexia','Liver Big','Liver Firm','Spleen Palpable','Spiders','Ascites','Varices','Bilirubin','Alk Phosphate','Sgot','Albumin','Protime','Histology'])
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,2,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,2,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2.0,2,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,7.6,NaN,242.0,3.3,50.0,2
151,2,44,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,126.0,142.0,4.3,NaN,2
152,2,61,1,1.0,2,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.8,75.0,20.0,4.1,NaN,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1
10,2,39,1,1.0,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1
11,2,32,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1
12,2,41,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1
13,2,30,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.2,57.0,144.0,4.9,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2,45,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.3,85.0,44.0,4.2,85.0,2
143,1,49,1,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.4,85.0,70.0,3.5,35.0,2
145,2,31,1,1.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,75.0,173.0,4.2,54.0,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'Histology')
X = dataset.loc[:, dataset.columns != 'Histology'] 
y = np.array(dataset.loc[:, dataset.columns == 'Histology']).ravel()

In [ ]:
# importa o algoritmo de classificação Multilayer-Perceptron (redes neurais)
from sklearn.neural_network import MLPClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# na MLP um parâmetro a ser testado é a quantidade de neurônios na camada escondida, 
# onde utilzamos uma tupla para representar a camada escondida.
# Por exemplo:
# (5) - Cinco neurônios e uma camada escondida
# (8, 5) - Oito neurônios na primeira camada escondida e cinco neurônios na segunda camada escondida.
# Interessante nesse projeto utilizar no máximo duas camadas para verificação 
# Quanto mais camadas e neurônios maior o tempo de processamento do algoritmo
parameters = {'hidden_layer_sizes' : [(5), (8), (15), (5, 3), (8, 5), (10, 5)],
              'max_iter' : [3000], 'random_state' : [56]}

# define o algoritmo de classificação que será usado
mlp = MLPClassifier()
gs_mlp = GridSearchCV(mlp, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_mlp.fit(X, y)

GridSearchCV(cv=10, estimator=MLPClassifier(),
             param_grid={'hidden_layer_sizes': [5, 8, 15, (5, 3), (8, 5),
                                                (10, 5)],
                         'max_iter': [3000], 'random_state': [56]},
             scoring='accuracy')

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_mlp.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
0,"{'hidden_layer_sizes': 5, 'max_iter': 3000, 'r...",0.6750,0.160078,1
2,"{'hidden_layer_sizes': 15, 'max_iter': 3000, '...",0.6625,0.112500,2
4,"{'hidden_layer_sizes': (8, 5), 'max_iter': 300...",0.6250,0.111803,3
1,"{'hidden_layer_sizes': 8, 'max_iter': 3000, 'r...",0.5875,0.057282,4
5,"{'hidden_layer_sizes': (10, 5), 'max_iter': 30...",0.5875,0.125623,4
3,"{'hidden_layer_sizes': (5, 3), 'max_iter': 300...",0.5500,0.114564,6

# Naive Bayes

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('hepatitis.data', sep=',', na_values='?',names=['Class','Age','Sex','Steroid','Antivirals','Fatigue','Malaise','Anorexia','Liver Big','Liver Firm','Spleen Palpable','Spiders','Ascites','Varices','Bilirubin','Alk Phosphate','Sgot','Albumin','Protime','Histology'])
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,2,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,2,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2.0,2,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,7.6,NaN,242.0,3.3,50.0,2
151,2,44,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,126.0,142.0,4.3,NaN,2
152,2,61,1,1.0,2,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.8,75.0,20.0,4.1,NaN,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1
10,2,39,1,1.0,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1
11,2,32,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1
12,2,41,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1
13,2,30,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.2,57.0,144.0,4.9,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2,45,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.3,85.0,44.0,4.2,85.0,2
143,1,49,1,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.4,85.0,70.0,3.5,35.0,2
145,2,31,1,1.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,75.0,173.0,4.2,54.0,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'Histology')
X = dataset.loc[:, dataset.columns != 'Histology'] 
y = np.array(dataset.loc[:, dataset.columns == 'Histology']).ravel()

In [ ]:
#Define os parametros do metodo Naive Bayes
param = {'var_smoothing': np.logspace(0,-9, num=100)}

In [ ]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split
# importa o algoritmo Naive Bayes 
from sklearn.naive_bayes import GaussianNB
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45, random_state=56)
# instancia o classificador
gnb = GaussianNB()
gs_NB = GridSearchCV(gnb, param, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_NB.fit(X,y)

GridSearchCV(cv=10, estimator=GaussianNB(),
             param_grid={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.84803587e-02, 2.3...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
             scoring='accuracy')

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_NB.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
99,{'var_smoothing': 1e-09},0.7625,0.103833,1
81,{'var_smoothing': 4.3287612810830526e-08},0.7625,0.103833,1
82,{'var_smoothing': 3.5111917342151277e-08},0.7625,0.103833,1
83,{'var_smoothing': 2.848035868435799e-08},0.7625,0.103833,1
84,{'var_smoothing': 2.310129700083158e-08},0.7625,0.103833,1
...,...,...,...,...
4,{'var_smoothing': 0.43287612810830584},0.5750,0.150000,95
3,{'var_smoothing': 0.533669923120631},0.5625,0.115244,97
1,{'var_smoothing': 0.8111308307896871},0.5625,0.083853,97
0,{'var_smoothing': 1.0},0.5625,0.083853,97
2,{'var_smoothing': 0.657933224657568},0.5500,0.100000,100

# K Neighbors

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('hepatitis.data', sep=',', na_values='?',names=['Class','Age','Sex','Steroid','Antivirals','Fatigue','Malaise','Anorexia','Liver Big','Liver Firm','Spleen Palpable','Spiders','Ascites','Varices','Bilirubin','Alk Phosphate','Sgot','Albumin','Protime','Histology'])
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
0,2,30,2,1.0,2,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,85.0,18.0,4.0,NaN,1
1,2,50,1,1.0,2,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,0.9,135.0,42.0,3.5,NaN,1
2,2,78,1,2.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,96.0,32.0,4.0,NaN,1
3,2,31,1,NaN,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.7,46.0,52.0,4.0,80.0,1
4,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,NaN,200.0,4.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,1,46,1,2.0,2,1.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,1.0,7.6,NaN,242.0,3.3,50.0,2
151,2,44,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,126.0,142.0,4.3,NaN,2
152,2,61,1,1.0,2,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,0.8,75.0,20.0,4.1,NaN,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,Class,Age,Sex,Steroid,Antivirals,Fatigue,Malaise,Anorexia,Liver Big,Liver Firm,Spleen Palpable,Spiders,Ascites,Varices,Bilirubin,Alk Phosphate,Sgot,Albumin,Protime,Histology
5,2,34,1,2.0,2,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,0.9,95.0,28.0,4.0,75.0,1
10,2,39,1,1.0,1,2.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0,2.0,1.3,78.0,30.0,4.4,85.0,1
11,2,32,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0,1.0,59.0,249.0,3.7,54.0,1
12,2,41,1,2.0,1,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,0.9,81.0,60.0,3.9,52.0,1
13,2,30,1,2.0,2,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.2,57.0,144.0,4.9,78.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139,2,45,1,2.0,1,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.3,85.0,44.0,4.2,85.0,2
143,1,49,1,1.0,2,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,1.4,85.0,70.0,3.5,35.0,2
145,2,31,1,1.0,2,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.2,75.0,173.0,4.2,54.0,2
153,2,53,2,1.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.5,81.0,19.0,4.1,48.0,2
154,1,43,1,2.0,2,1.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,2.0,1.2,100.0,19.0,3.1,42.0,2

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 'Histology')
X = dataset.loc[:, dataset.columns != 'Histology'] 
y = np.array(dataset.loc[:, dataset.columns == 'Histology']).ravel()

In [ ]:
# importa o algoritmo de classifcaçaõ k-vizinhos
from sklearn.neighbors import KNeighborsClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# no grid coloca os hiperparâmetros do algoritmo que serão testados (dicionário)
# testará o valor de k com os seguintes valores e o hiperparâmetros weights com os valores 'uniform' e 'distance'
parameters = {'n_neighbors' : [1, 3, 5, 7, 9, 11, 13], 'weights' : ['uniform', 'distance']}

# define o algoritmo de classificação que será usado
knn = KNeighborsClassifier()
''' configura o GridSearch com o algoritmo de classificação = knn (instanciado), os parâmetros testados serão os 
    definidos em parameters, usa cross-validation = 10 e a medida de avaliação é a acurácia.'''  
gs = GridSearchCV(knn, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs.fit(X, y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13],
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [ ]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002365,0.000847,0.002562,0.000693,1,uniform,"{'n_neighbors': 1, 'weights': 'uniform'}",0.750,0.250,0.750,0.750,0.500,0.500,0.500,0.500,0.500,0.750,0.5750,0.160078,11
1,0.001935,0.000127,0.001993,0.000057,1,distance,"{'n_neighbors': 1, 'weights': 'distance'}",0.750,0.250,0.750,0.750,0.500,0.500,0.500,0.500,0.500,0.750,0.5750,0.160078,11
2,0.002300,0.000636,0.002601,0.000617,3,uniform,"{'n_neighbors': 3, 'weights': 'uniform'}",0.500,0.375,0.625,0.875,0.625,0.625,0.375,0.625,0.625,0.625,0.5875,0.137500,7
3,0.001971,0.000129,0.002049,0.000046,3,distance,"{'n_neighbors': 3, 'weights': 'distance'}",0.500,0.375,0.625,0.875,0.625,0.625,0.375,0.625,0.625,0.625,0.5875,0.137500,7
4,0.001942,0.000062,0.002312,0.000139,5,uniform,"{'n_neighbors': 5, 'weights': 'uniform'}",0.625,0.500,0.750,1.000,0.500,0.500,0.625,0.500,0.625,0.375,0.6000,0.165831,3
5,0.001918,0.000088,0.001991,0.000018,5,distance,"{'n_neighbors': 5, 'weights': 'distance'}",0.625,0.500,0.750,0.875,0.500,0.500,0.625,0.500,0.625,0.625,0.6125,0.117925,2
6,0.002374,0.000538,0.003285,0.001138,7,uniform,"{'n_neighbors': 7, 'weights': 'uniform'}",0.500,0.500,0.625,0.625,0.625,0.500,0.750,0.500,0.750,0.375,0.5750,0.114564,11
7,0.002413,0.000618,0.002486,0.000627,7,distance,"{'n_neighbors': 7, 'weights': 'distance'}",0.500,0.500,0.625,0.875,0.500,0.500,0.750,0.500,0.750,0.500,0.6000,0.134629,3
8,0.002474,0.001526,0.002794,0.000983,9,uniform,"{'n_neighbors': 9, 'weights': 'uniform'}",0.500,0.625,0.625,0.750,0.625,0.500,0.750,0.625,0.750,0.250,0.6000,0.145774,3
9,0.002134,0.000356,0.002113,0.000274,9,distance,"{'n_neighbors': 9, 'weights': 'distance'}",0.500,0.625,0.625,0.875,0.500,0.500,0.750,0.625,0.750,0.500,0.6250,0.125000,1
10,0.001844,0.000014,0.002186,0.000036,11,uniform,"{'n_neighbors': 11, 'weights': 'uniform'}",0.500,0.625,0.625,0.750,0.625,0.500,0.625,0.500,0.750,0.250,0.5750,0.139194,11
11,0.001876,0.000086,0.001989,0.000094,11,distance,"{'n_neighbors': 11, 'weights': 'distance'}",0.500,0.625,0.625,0.875,0.500,0.500,0.625,0.500,0.750,0.375,0.5875,0.137500,7
12,0.002172,0.000575,0.002550,0.000666,13,uniform,"{'n_neighbors': 13, 'weights': 'uniform'}",0.500,0.750,0.750,0.750,0.625,0.625,0.625,0.500,0.625,0.250,0.6000,0.145774,3
13,0.002520,0.000600,0.002623,0.000556,13,distance,"{'n_neighbors': 13, 'weights': 'distance'}",0.500,0.625,0.750,0.875,0.500,0.500,0.625,0.500,0.750,0.250,0.5875,0.168170,7

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
9,"{'n_neighbors': 9, 'weights': 'distance'}",0.6250,0.125000,1
5,"{'n_neighbors': 5, 'weights': 'distance'}",0.6125,0.117925,2
4,"{'n_neighbors': 5, 'weights': 'uniform'}",0.6000,0.165831,3
7,"{'n_neighbors': 7, 'weights': 'distance'}",0.6000,0.134629,3
8,"{'n_neighbors': 9, 'weights': 'uniform'}",0.6000,0.145774,3
12,"{'n_neighbors': 13, 'weights': 'uniform'}",0.6000,0.145774,3
2,"{'n_neighbors': 3, 'weights': 'uniform'}",0.5875,0.137500,7
3,"{'n_neighbors': 3, 'weights': 'distance'}",0.5875,0.137500,7
11,"{'n_neighbors': 11, 'weights': 'distance'}",0.5875,0.137500,7
13,"{'n_neighbors': 13, 'weights': 'distance'}",0.5875,0.168170,7
0,"{'n_neighbors': 1, 'weights': 'uniform'}",0.5750,0.160078,11
1,"{'n_neighbors': 1, 'weights': 'distance'}",0.5750,0.160078,11
6,"{'n_neighbors': 7, 'weights': 'uniform'}",0.5750,0.114564,11
10,"{'n_neighbors': 11, 'weights': 'uniform'}",0.5750,0.139194,11

# Calculo da Diferenca Absoluta

Observando os resultados, podemos ver que os metodos MLP e Naive Bayes tem as melhores performances, logo temos que calcular a diferenca absoluta para ver qual dos dois e de fato o melhor

In [ ]:
#Calculo do desvio padrao
import math
Dp = math.sqrt(((0.160078)*(0.160078) + (0.103833)*(0.103833))/2)
#Calculo da media
media = (0.6750 - 0.7625)
#calcula da Diferenca Absoluta
DA = media/Dp
print(DA)
#MLP < Naive Bayes

-0.6485374054417903

Conclusao: O MLP tem uma melhor performance do que a Arvore de decisao e o restante dos algoritmos