# Arvore de Decisao

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('spambase.data', sep=',', na_values='?',header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 57)
X = dataset.loc[:, dataset.columns != 57] 
y = np.array(dataset.loc[:, dataset.columns == 57]).ravel()

In [ ]:
#Define os parametros do metodo de Arvore de Decisao
parameters= {'criterion':['gini'],'max_depth':[4,5,6,7,8,9,10,11,12,15,20,30,40,50,70,90,120,150,180,220], 'random_state': [56]}

In [ ]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.26, stratify=y, random_state=56)

In [ ]:
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV
# importa a arvore de decisão
from sklearn.tree import DecisionTreeClassifier
# instancia o classificador 
clf = DecisionTreeClassifier()
gs_tree = GridSearchCV(clf,parameters, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_tree.fit(X,y)

GridSearchCV(cv=10, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini'],
                         'max_depth': [4, 5, 6, 7, 8, 9, 10, 11, 12, 15, 20, 30,
                                       40, 50, 70, 90, 120, 150, 180, 220],
                         'random_state': [56]},
             scoring='accuracy')

In [ ]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs_tree.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_depth,param_random_state,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.030154,0.002692,0.003965,0.002959,gini,4,56,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.898048,0.904348,...,0.906522,0.902174,0.923913,0.915217,0.908696,0.867391,0.786957,0.890674,0.037368,20
1,0.034652,0.003592,0.002901,0.000175,gini,5,56,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.921909,0.926087,...,0.900000,0.915217,0.926087,0.926087,0.926087,0.878261,0.817391,0.902843,0.032749,9
2,0.040381,0.002957,0.002927,0.000105,gini,6,56,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.930586,0.926087,...,0.921739,0.915217,0.926087,0.923913,0.923913,0.873913,0.826087,0.907624,0.031277,7
3,0.042829,0.000873,0.002877,0.000122,gini,7,56,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.926247,0.930435,...,0.910870,0.917391,0.932609,0.923913,0.926087,0.878261,0.841304,0.910016,0.027269,4
4,0.048033,0.003531,0.002673,0.000244,gini,8,56,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.934924,0.930435,...,0.917391,0.913043,0.943478,0.932609,0.930435,0.876087,0.815217,0.910232,0.036452,3
5,0.052034,0.001583,0.002659,0.000292,gini,9,56,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.934924,0.928261,...,0.919565,0.915217,0.947826,0.928261,0.928261,0.854348,0.841304,0.910884,0.033137,2
6,0.059648,0.004723,0.003621,0.001412,gini,10,56,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.934924,0.936957,...,0.926087,0.926087,0.932609,0.934783,0.932609,0.858696,0.839130,0.912188,0.033479,1
7,0.062378,0.001881,0.002913,0.000173,gini,11,56,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.921909,0.932609,...,0.923913,0.923913,0.941304,0.917391,0.926087,0.865217,0.817391,0.908495,0.035944,5
8,0.066582,0.002506,0.003044,0.000469,gini,12,56,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.917570,0.921739,...,0.930435,0.926087,0.945652,0.926087,0.928261,0.847826,0.815217,0.907409,0.039426,8
9,0.075534,0.005210,0.002948,0.000209,gini,15,56,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.911063,0.934783,...,0.926087,0.915217,0.926087,0.939130,0.930435,0.858696,0.830435,0.908280,0.033705,6
10,0.081897,0.007846,0.002985,0.000407,gini,20,56,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.913232,0.915217,...,0.908696,0.923913,0.926087,0.943478,0.897826,0.845652,0.819565,0.901106,0.036529,10
11,0.082955,0.009442,0.002651,0.000200,gini,30,56,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.917570,0.923913,...,0.919565,0.930435,0.930435,0.945652,0.913043,0.839130,0.791304,0.900670,0.045721,11
12,0.083046,0.010492,0.002721,0.000290,gini,40,56,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12
13,0.084139,0.009679,0.002990,0.000642,gini,50,56,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12
14,0.081663,0.008892,0.002491,0.000109,gini,70,56,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12
15,0.081736,0.009283,0.002470,0.000148,gini,90,56,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12
16,0.083194,0.008559,0.002505,0.000078,gini,120,56,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12
17,0.084177,0.011251,0.003017,0.000466,gini,150,56,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12
18,0.083195,0.010694,0.002793,0.000463,gini,180,56,"{'criterion': 'gini', 'max_depth': 180, 'rando...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12
19,0.081688,0.009263,0.002450,0.000047,gini,220,56,"{'criterion': 'gini', 'max_depth': 220, 'rando...",0.917570,0.923913,...,0.906522,0.930435,0.930435,0.945652,0.913043,0.839130,0.797826,0.900018,0.043810,12

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
6,"{'criterion': 'gini', 'max_depth': 10, 'random...",0.912188,0.033479,1
5,"{'criterion': 'gini', 'max_depth': 9, 'random_...",0.910884,0.033137,2
4,"{'criterion': 'gini', 'max_depth': 8, 'random_...",0.910232,0.036452,3
3,"{'criterion': 'gini', 'max_depth': 7, 'random_...",0.910016,0.027269,4
7,"{'criterion': 'gini', 'max_depth': 11, 'random...",0.908495,0.035944,5
9,"{'criterion': 'gini', 'max_depth': 15, 'random...",0.908280,0.033705,6
2,"{'criterion': 'gini', 'max_depth': 6, 'random_...",0.907624,0.031277,7
8,"{'criterion': 'gini', 'max_depth': 12, 'random...",0.907409,0.039426,8
1,"{'criterion': 'gini', 'max_depth': 5, 'random_...",0.902843,0.032749,9
10,"{'criterion': 'gini', 'max_depth': 20, 'random...",0.901106,0.036529,10
11,"{'criterion': 'gini', 'max_depth': 30, 'random...",0.900670,0.045721,11
17,"{'criterion': 'gini', 'max_depth': 150, 'rando...",0.900018,0.043810,12
16,"{'criterion': 'gini', 'max_depth': 120, 'rando...",0.900018,0.043810,12
15,"{'criterion': 'gini', 'max_depth': 90, 'random...",0.900018,0.043810,12
19,"{'criterion': 'gini', 'max_depth': 220, 'rando...",0.900018,0.043810,12
13,"{'criterion': 'gini', 'max_depth': 50, 'random...",0.900018,0.043810,12
12,"{'criterion': 'gini', 'max_depth': 40, 'random...",0.900018,0.043810,12
18,"{'criterion': 'gini', 'max_depth': 180, 'rando...",0.900018,0.043810,12
14,"{'criterion': 'gini', 'max_depth': 70, 'random...",0.900018,0.043810,12
0,"{'criterion': 'gini', 'max_depth': 4, 'random_...",0.890674,0.037368,20

# Multilayer-Perceptron (redes neurais)

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('spambase.data', sep=',', na_values='?',header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 57)
X = dataset.loc[:, dataset.columns != 57] 
y = np.array(dataset.loc[:, dataset.columns == 57]).ravel()

In [ ]:
# importa o algoritmo de classificação Multilayer-Perceptron (redes neurais)
from sklearn.neural_network import MLPClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# na MLP um parâmetro a ser testado é a quantidade de neurônios na camada escondida, 
# onde utilzamos uma tupla para representar a camada escondida.
# Por exemplo:
# (5) - Cinco neurônios e uma camada escondida
# (8, 5) - Oito neurônios na primeira camada escondida e cinco neurônios na segunda camada escondida.
# Interessante nesse projeto utilizar no máximo duas camadas para verificação 
# Quanto mais camadas e neurônios maior o tempo de processamento do algoritmo
parameters = {'hidden_layer_sizes' : [(5), (8), (15), (5, 3), (8, 5), (10, 5)],
              'max_iter' : [3000], 'random_state' : [56]}

# define o algoritmo de classificação que será usado
mlp = MLPClassifier()
gs_mlp = GridSearchCV(mlp, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_mlp.fit(X, y)

GridSearchCV(cv=10, estimator=MLPClassifier(),
             param_grid={'hidden_layer_sizes': [5, 8, 15, (5, 3), (8, 5),
                                                (10, 5)],
                         'max_iter': [3000], 'random_state': [56]},
             scoring='accuracy')

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_mlp.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
4,"{'hidden_layer_sizes': (8, 5), 'max_iter': 300...",0.926967,0.035518,1
2,"{'hidden_layer_sizes': 15, 'max_iter': 3000, '...",0.924580,0.032670,2
3,"{'hidden_layer_sizes': (5, 3), 'max_iter': 300...",0.924146,0.030999,3
0,"{'hidden_layer_sizes': 5, 'max_iter': 3000, 'r...",0.921750,0.040874,4
1,"{'hidden_layer_sizes': 8, 'max_iter': 3000, 'r...",0.921536,0.043313,5
5,"{'hidden_layer_sizes': (10, 5), 'max_iter': 30...",0.918276,0.034062,6

# Naive Bayes

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('spambase.data', sep=',', na_values='?',header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 57)
X = dataset.loc[:, dataset.columns != 57] 
y = np.array(dataset.loc[:, dataset.columns == 57]).ravel()

In [ ]:
#Define os parametros do metodo Naive Bayes
param = {'var_smoothing': np.logspace(0,-9, num=100)}

In [ ]:
# importa o método do sklearn que separa em conjunto de treino e teste
from sklearn.model_selection import train_test_split
# importa o algoritmo Naive Bayes 
from sklearn.naive_bayes import GaussianNB
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.45, random_state=56)
# instancia o classificador
gnb = GaussianNB()
gs_NB = GridSearchCV(gnb, param, cv = 10, scoring = 'accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs_NB.fit(X,y)

GridSearchCV(cv=10, estimator=GaussianNB(),
             param_grid={'var_smoothing': array([1.00000000e+00, 8.11130831e-01, 6.57933225e-01, 5.33669923e-01,
       4.32876128e-01, 3.51119173e-01, 2.84803587e-01, 2.31012970e-01,
       1.87381742e-01, 1.51991108e-01, 1.23284674e-01, 1.00000000e-01,
       8.11130831e-02, 6.57933225e-02, 5.33669923e-02, 4.32876128e-02,
       3.51119173e-02, 2.84803587e-02, 2.3...
       1.23284674e-07, 1.00000000e-07, 8.11130831e-08, 6.57933225e-08,
       5.33669923e-08, 4.32876128e-08, 3.51119173e-08, 2.84803587e-08,
       2.31012970e-08, 1.87381742e-08, 1.51991108e-08, 1.23284674e-08,
       1.00000000e-08, 8.11130831e-09, 6.57933225e-09, 5.33669923e-09,
       4.32876128e-09, 3.51119173e-09, 2.84803587e-09, 2.31012970e-09,
       1.87381742e-09, 1.51991108e-09, 1.23284674e-09, 1.00000000e-09])},
             scoring='accuracy')

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results = pd.DataFrame(gs_NB.cv_results_)
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
64,{'var_smoothing': 1.519911082952933e-06},0.851997,0.063915,1
65,{'var_smoothing': 1.232846739442066e-06},0.850685,0.078880,2
66,{'var_smoothing': 1e-06},0.843288,0.091807,3
63,{'var_smoothing': 1.873817422860383e-06},0.840489,0.048544,4
98,{'var_smoothing': 1.2328467394420635e-09},0.822208,0.076665,5
...,...,...,...,...
4,{'var_smoothing': 0.43287612810830584},0.641172,0.022026,96
3,{'var_smoothing': 0.533669923120631},0.638781,0.021346,97
1,{'var_smoothing': 0.8111308307896871},0.635955,0.019249,98
2,{'var_smoothing': 0.657933224657568},0.635738,0.021521,99
0,{'var_smoothing': 1.0},0.634433,0.018442,100

# K Neighbors

In [ ]:
#Importa as bibliotecas Pandas e Numpy
import pandas as pd
import numpy as np

In [ ]:
# na_values = substitui o valor '?' (dado faltante) para Nan
dataset = pd.read_csv('spambase.data', sep=',', na_values='?',header=None)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:

# elimina as linhas com dados faltantes
dataset = dataset.dropna(axis=0)
dataset

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:
#Separando as variáveis independentes (conjunto X) e a variável dependente y (que neste caso é a coluna 57)
X = dataset.loc[:, dataset.columns != 57] 
y = np.array(dataset.loc[:, dataset.columns == 57]).ravel()

In [ ]:
# importa o algoritmo de classifcaçaõ k-vizinhos
from sklearn.neighbors import KNeighborsClassifier
# importa o GridSearchCV
from sklearn.model_selection import GridSearchCV

# no grid coloca os hiperparâmetros do algoritmo que serão testados (dicionário)
# testará o valor de k com os seguintes valores e o hiperparâmetros weights com os valores 'uniform' e 'distance'
parameters = {'n_neighbors' : [1, 3, 5, 7, 9, 11, 13], 'weights' : ['uniform', 'distance']}

# define o algoritmo de classificação que será usado
knn = KNeighborsClassifier()
''' configura o GridSearch com o algoritmo de classificação = knn (instanciado), os parâmetros testados serão os 
    definidos em parameters, usa cross-validation = 10 e a medida de avaliação é a acurácia.'''  
gs = GridSearchCV(knn, parameters, cv=10, scoring='accuracy')
# o grid search treinará todos os modelos conforme a parametrização acima
gs.fit(X, y)

GridSearchCV(cv=10, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': [1, 3, 5, 7, 9, 11, 13],
                         'weights': ['uniform', 'distance']},
             scoring='accuracy')

In [ ]:
# coloca os resultados num Frame para melhor visulização
results = pd.DataFrame(gs.cv_results_)
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.007771,0.003027,0.054559,0.006907,1,uniform,"{'n_neighbors': 1, 'weights': 'uniform'}",0.750542,0.797826,0.791304,0.802174,0.834783,0.817391,0.817391,0.821739,0.728261,0.721739,0.788315,0.038372,8
1,0.006567,0.001907,0.033062,0.003622,1,distance,"{'n_neighbors': 1, 'weights': 'distance'}",0.750542,0.797826,0.791304,0.802174,0.834783,0.817391,0.817391,0.821739,0.728261,0.721739,0.788315,0.038372,8
2,0.005812,0.000194,0.061187,0.005392,3,uniform,"{'n_neighbors': 3, 'weights': 'uniform'}",0.759219,0.780435,0.784783,0.800000,0.821739,0.821739,0.808696,0.815217,0.713043,0.736957,0.784183,0.035446,10
3,0.005730,0.000191,0.042226,0.002538,3,distance,"{'n_neighbors': 3, 'weights': 'distance'}",0.767896,0.795652,0.806522,0.823913,0.836957,0.834783,0.823913,0.830435,0.728261,0.745652,0.799398,0.037194,3
4,0.005687,0.000118,0.076589,0.010375,5,uniform,"{'n_neighbors': 5, 'weights': 'uniform'}",0.739696,0.776087,0.778261,0.821739,0.810870,0.821739,0.819565,0.828261,0.723913,0.763043,0.788317,0.035659,7
5,0.005687,0.000234,0.053503,0.002746,5,distance,"{'n_neighbors': 5, 'weights': 'distance'}",0.754881,0.797826,0.797826,0.843478,0.823913,0.834783,0.834783,0.843478,0.734783,0.769565,0.803532,0.037246,1
6,0.005915,0.000623,0.072254,0.004406,7,uniform,"{'n_neighbors': 7, 'weights': 'uniform'}",0.746204,0.736957,0.756522,0.802174,0.795652,0.828261,0.826087,0.808696,0.710870,0.758696,0.777012,0.038344,11
7,0.007792,0.003518,0.070183,0.022018,7,distance,"{'n_neighbors': 7, 'weights': 'distance'}",0.767896,0.782609,0.793478,0.834783,0.819565,0.847826,0.845652,0.830435,0.719565,0.769565,0.801137,0.039559,2
8,0.010297,0.008042,0.107371,0.032648,9,uniform,"{'n_neighbors': 9, 'weights': 'uniform'}",0.733189,0.747826,0.743478,0.784783,0.782609,0.821739,0.800000,0.804348,0.710870,0.758696,0.768754,0.033605,13
9,0.008858,0.003186,0.094592,0.019900,9,distance,"{'n_neighbors': 9, 'weights': 'distance'}",0.761388,0.784783,0.767391,0.828261,0.817391,0.839130,0.830435,0.832609,0.717391,0.771739,0.795052,0.038452,4
10,0.010318,0.004929,0.120760,0.021853,11,uniform,"{'n_neighbors': 11, 'weights': 'uniform'}",0.724512,0.747826,0.745652,0.810870,0.782609,0.819565,0.780435,0.826087,0.704348,0.747826,0.768973,0.039352,12
11,0.010427,0.003302,0.097488,0.022426,11,distance,"{'n_neighbors': 11, 'weights': 'distance'}",0.741866,0.784783,0.769565,0.834783,0.815217,0.832609,0.815217,0.847826,0.726087,0.767391,0.793534,0.039585,5
12,0.006153,0.001010,0.072205,0.002854,13,uniform,"{'n_neighbors': 13, 'weights': 'uniform'}",0.711497,0.743478,0.736957,0.800000,0.776087,0.819565,0.800000,0.819565,0.702174,0.754348,0.766367,0.040843,14
13,0.005706,0.000113,0.055747,0.005360,13,distance,"{'n_neighbors': 13, 'weights': 'distance'}",0.735358,0.780435,0.769565,0.821739,0.810870,0.839130,0.819565,0.858696,0.728261,0.765217,0.792884,0.041578,6

In [ ]:
#criar uma visão para facilitar a visualização dos resultados, e ordenar os resultados conforme os resultados.
view = ['params', 'mean_test_score', 'std_test_score', 'rank_test_score']
results[view].sort_values(by='rank_test_score')

,params,mean_test_score,std_test_score,rank_test_score
5,"{'n_neighbors': 5, 'weights': 'distance'}",0.803532,0.037246,1
7,"{'n_neighbors': 7, 'weights': 'distance'}",0.801137,0.039559,2
3,"{'n_neighbors': 3, 'weights': 'distance'}",0.799398,0.037194,3
9,"{'n_neighbors': 9, 'weights': 'distance'}",0.795052,0.038452,4
11,"{'n_neighbors': 11, 'weights': 'distance'}",0.793534,0.039585,5
13,"{'n_neighbors': 13, 'weights': 'distance'}",0.792884,0.041578,6
4,"{'n_neighbors': 5, 'weights': 'uniform'}",0.788317,0.035659,7
0,"{'n_neighbors': 1, 'weights': 'uniform'}",0.788315,0.038372,8
1,"{'n_neighbors': 1, 'weights': 'distance'}",0.788315,0.038372,8
2,"{'n_neighbors': 3, 'weights': 'uniform'}",0.784183,0.035446,10
6,"{'n_neighbors': 7, 'weights': 'uniform'}",0.777012,0.038344,11
10,"{'n_neighbors': 11, 'weights': 'uniform'}",0.768973,0.039352,12
8,"{'n_neighbors': 9, 'weights': 'uniform'}",0.768754,0.033605,13
12,"{'n_neighbors': 13, 'weights': 'uniform'}",0.766367,0.040843,14

# Calculo da Diferenca Absoluta

Observando os resultados, podemos ver que os metodos MLP e Arvore de Decisao tem as melhores performances, logo temos que calcular a diferenca absoluta para ver qual dos dois e de fato o melhor

In [ ]:
#Calculo do desvio padrao
import math
Dp = math.sqrt(((0.033479)*(0.033479) + (0.035518)*(0.035518))/2)
#Calculo da media
media = (0.912188 - 0.926967)
#calcula da Diferenca Absoluta
DA = media/Dp
print(DA)
#MLP > Tree

-0.4282084964956432

Conclusao: O MLP tem uma melhor performance do que a Arvore de decisao e o restante dos algoritmos